name: Python-package

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

# automatically cancel in-progress builds if another commit is pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  BUILD_ARTIFACTSTAGINGDIRECTORY: '${{ github.workspace }}/artifacts'
  BUILD_SOURCESDIRECTORY: '${{ github.workspace }}'
  CMAKE_BUILD_PARALLEL_LEVEL: 4
  DEBIAN_FRONTEND: noninteractive
  SKBUILD_STRICT_CONFIG: true

jobs:
  test-linux-aarch64:
    name: bdist wheel (manylinux2014-arm, gcc, Python 3.13)
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 60
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 5
          persist-credentials: false
          submodules: true
      - name: Setup and run tests
        shell: bash
        env:
          BUILD_DIRECTORY: /LightGBM
        run: |
          cat > ./docker-script.sh <<EOF
          mkdir -p \$BUILD_ARTIFACTSTAGINGDIRECTORY
          export CONDA=\$HOME/miniforge
          export PATH=\$CONDA/bin:\$PATH
          ${{ env.BUILD_DIRECTORY }}/.ci/setup.sh || exit 1
          ${{ env.BUILD_DIRECTORY }}/.ci/test.sh || exit 1
          EOF
          IMAGE_URI="lightgbm/vsts-agent:manylinux2014_aarch64"
          docker pull "${IMAGE_URI}" || exit 1
          docker run \
            --rm \
            --env BUILD_DIRECTORY=${{ env.BUILD_DIRECTORY }} \
            --env BUILD_ARTIFACTSTAGINGDIRECTORY=${{ env.BUILD_DIRECTORY }}/artifacts/ \
            --env COMPILER=gcc \
            --env METHOD=wheel \
            --env OS_NAME=linux \
            --env PRODUCES_ARTIFACTS=true \
            --env PYTHON_VERSION="3.13" \
            --env TASK=bdist \
            -v "${PWD}":"${{ env.BUILD_DIRECTORY }}" \
            -w ${{ env.BUILD_DIRECTORY }} \
            "${IMAGE_URI}" \
            /bin/bash ./docker-script.sh
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-aarch64-wheel
          path: artifacts/*.whl
          if-no-files-found: error

  test:
    name: ${{ matrix.task }} (${{ matrix.os-display-name || matrix.os }}, Python ${{ matrix.python_version }})
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          # macOS builds
          - os: macos-14
            task: bdist
            compiler: clang
            method: wheel
            produces-artifacts: 'true'
            artifact-name: 'macosx-arm64-wheel'
            python_version: '3.11'
          - os: macos-15-intel
            task: bdist
            compiler: clang
            method: wheel
            produces-artifacts: 'true'
            artifact-name: 'macosx-amd64-wheel'
            python_version: '3.13'
          # Linux builds (manylinux)
          - os: ubuntu-latest
            container: lightgbm/vsts-agent:manylinux_2_28_x86_64
            os-display-name: 'manylinux_2_28'
            task: bdist
            compiler: gcc
            method: wheel
            python_version: '3.10'
            in-ubuntu-base-container: 'false'
            setup-conda: 'false'
            produces-artifacts: 'true'
            artifact-name: 'linux-amd64-wheel'
    steps:
      - name: Trust git cloning LightGBM
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          git config --global --add safe.directory "${GITHUB_WORKSPACE}"
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 5
          persist-credentials: false
          submodules: true
      - name: Setup and run tests on Linux and macOS
        if: startsWith(matrix.os, 'macos') || startsWith(matrix.os, 'ubuntu')
        shell: bash
        run: |
          export COMPILER="${{ matrix.compiler }}"
          export IN_UBUNTU_BASE_CONTAINER="${{ matrix.in-ubuntu-base-container }}"
          export SETUP_CONDA="${{ matrix.setup-conda }}"
          export TASK="${{ matrix.task }}"
          export METHOD="${{ matrix.method }}"
          if [[ "${{ matrix.os }}" =~ ^macos ]]; then
              export OS_NAME="macos"
          elif [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
              export OS_NAME="linux"
          fi
          export PYTHON_VERSION="${{ matrix.python_version }}"
          export BUILD_DIRECTORY="$GITHUB_WORKSPACE"
          if [[ -z "${CONDA:-}" ]]; then
            export CONDA=${HOME}/miniforge
          fi
          export PATH=${CONDA}/bin:${PATH}
          export PRODUCES_ARTIFACTS="${{ matrix.produces-artifacts }}"
          $GITHUB_WORKSPACE/.ci/setup.sh || exit 1
          $GITHUB_WORKSPACE/.ci/test.sh || exit 1
      - name: Upload artifacts
        if: ${{ matrix.produces-artifacts == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}
          path: |
            artifacts/*.dylib
            artifacts/*.so
            artifacts/*.whl
          if-no-files-found: error

  test-latest-versions:
    name: Python - latest versions (manylinux_2_28)
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 5
          persist-credentials: false
          submodules: true
      - name: Create wheel
        run: |
          docker run \
            --rm \
            --env CMAKE_BUILD_PARALLEL_LEVEL=${{ env.CMAKE_BUILD_PARALLEL_LEVEL }} \
            -v $(pwd):/opt/lgb-build \
            -w /opt/lgb-build \
            lightgbm/vsts-agent:manylinux_2_28_x86_64 \
            /bin/bash -c 'PATH=/opt/miniforge/bin:$PATH sh ./build-python.sh bdist_wheel --nomp'
      - name: Test compatibility
        run: |
          docker run \
            --rm \
            -v $(pwd):/opt/lgb-build \
            -w /opt/lgb-build \
            python:3.13 \
            /bin/bash ./.ci/test-python-latest.sh

  all-python-package-jobs-successful:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - test-latest-versions
      - test
      - test-linux-aarch64
    steps:
      - name: Note that all tests succeeded
        uses: re-actors/alls-green@v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
