# contains non-functional tests, like checks on docs
# and code style
name: Static Analysis

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

# automatically cancel in-progress builds if another commit is pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  COMPILER: 'gcc'
  MAKEFLAGS: '-j4'
  OS_NAME: 'linux'

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 5
          persist-credentials: false
          submodules: false
      - name: Setup and run tests
        shell: bash
        run: |
          export TASK=lint
          export CONDA=${HOME}/miniforge
          export PATH=${CONDA}/bin:$HOME/.local/bin:${PATH}
          $GITHUB_WORKSPACE/.ci/setup.sh || exit 1
          $GITHUB_WORKSPACE/.ci/lint-python.sh || exit 1
